body {
    color:#e9ecef;
    background-image: url("https://images.unsplash.com/photo-1530541930197-ff16ac917b0e?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=2070&q=80");
    
}

  
.formu-1 {
    width: 40%;
    color: #e9ecef;
}

.formu-2 {
    width: 50%;
    color: #e9ecef;
}

.texto {
    
    display: block;
    width: 22rem;
    padding-left: 1rem;
}

.display-2 {
    margin-left: 3rem;
    margin-top: 3rem;
}

.botao {
    margin-top: 2rem;
    margin-left: 2rem;
}